.list
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    padding-top: 55px

.list-strech
    align-items: stretch
    padding-top: 70px

.list__team
    margin: 0
    padding: 0 0 30px
    

.list__item
    display: flex
    justify-content: center
    flex-grow: 1

.list__image
    min-width: 200px
    max-width: 260px
    display: block

.list-grow
    flex-grow: 1



    