.head
    background: url(../img/headerbg.png) no-repeat
    background-size: 120% 
    
.head__button
    background: transparent
    color: #000
    border: none
    cursor: pointer
    color: #e8e8e8
    font-family: Montserrat
    font-size: 14px
    letter-spacing: -0.35px

    
    
.head__menu 
    position: relative
    display: inline

.head__list
    display: none
    background: transparent
    min-width: 200px
    list-style-type: none

.head__item a
    color: #f2f2f2
    padding: 20px
    display: inline
    text-transform: uppercase
    text-decoration: none


.head__menu:hover .head__list 
    display: inline
